<header class="md-header" data-md-component="header">
  <nav class="md-header-inner md-grid" aria-label="{{ lang.t('header') }}">
    <a href="{{ config.extra.logo | d(config.nav_home_link | d('.'), true) }}" title="{{ config.site_name }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}">
      {% include "partials/logo.html" %}
    </a>
    <label class="md-header__button md-icon" for="__drawer">
      {% include ".icons/material/menu" ~ ".svg" %}
    </label>
    <div class="md-header__title" data-md-component="header-title">
      <span class="md-header__ellipsis">
        <span class="md-header__topic">
          <span class="md-ellipsis">
            {{ config.site_name }}
          </span>
        </span>
      </span>
    </div>
    {% if config.theme.palette %}
      {% include "partials/palette.html" %}
    {% endif %}
    {% if "search" in config.plugins %}
      {% include "partials/search.html" %}
    {% endif %}
    {% if config.repo_url %}
      <div class="md-header__source">
        {% include "partials/source.html" %}
      </div>
    {% endif %}
  </nav>
</header>
